.form-row {
    display: flex;
}

.container {
    margin: 0 0 0 0;

}

label {
    font-size: x-large;
    font-weight: bold;
    margin: 0 0 0 0;
    padding-top: 20px;

}

textarea {
    font-size: 1.2em !important;
}

.fix-div-right {
    position: fixed !important; 
    height: 95vh!important;
    top: 0!important;
    right: 0!important;
    margin-top: 20px!important;
}

.hidden{
    display: none;
}


.btn{
    margin-top: 5px;
    margin-bottom: 5px;
}