<form method="post" class="card crate-form" style="margin:10px;padding:10px;" id="PDF-Data">
    <label>Zerojudge抓取：<input id="ZeroJudgeNumber" value="{{number}}" placeholder="輸入ZeruJudge題號" ></input><button class="btn-dark btn" onclick="GetZeroJudge({{cid}})">GET</button>　<span id="errorMessage"style="color:red;"></span></label> 
    {% csrf_token %}

    <div class="row">
        <div class="form-group col-md-8">
        {{ problem_form.title.label_tag}}
        {{ problem_form.title}}
        </div>
        <div class="form-group col-md-4">
        {{ problem_form.timelimit.label_tag}}
        {{ problem_form.timelimit}}
        </div>
        
        <div class="form-group">
        {{problem_form.statement.label_tag}}
        {{problem_form.statement}}
        </div>

        <div class="form-group col-md-6">
        {{ problem_form.input_format.label_tag}}
        {{ problem_form.input_format}}
        </div>
        <div class="form-group col-md-6">
        {{ problem_form.output_format.label_tag}}
        {{ problem_form.output_format}}
        </div>

    </div>
    {{ formset.management_form }}
    <label>測試資料輸入</label>
    <div id="formset-container" style="padding:10px;">
        {% for form in formset %}
            <div class="formset-form" data-set= "{{forloop.counter0}}" >
                <div class="row align-items-center">
                    <div class="io-number col-md-1"><label id="input-output-number">#{{ forloop.counter }}</label></div>
                    <div class="form-group col-md-5">
                        {{ form.input.label_tag }}
                        {{ form.input }}
                    </div>
                    <div class="form-group col-md-5">
                        {{ form.output.label_tag }}
                        {{ form.output }}
                    </div>
                    <div class="row col-md-1">
                        {{ form.is_sample }}
                        <button type="button" class="btn btn-danger" onclick="InputOutputRemove.call(this);" >X</button>
                    </div>
                    <hr>
                </div>
            </div>
        {% endfor %}
    </div>
                
    <button class="btn btn-primary"onclick="addFormset()">+</button> <!-- Add this line -->
    {% comment %} <div class="row justify-content-between"> {% endcomment %}
        <input type="text"id="saveValue" name="saveValue" hidden ></input>
        <button class="btn btn-success" type="submit" onclick="PreviewPDF(1)">儲存</button>
    {% comment %} </div> {% endcomment %}
    
</form>