<!-- FILEPATH: /d:/主任的domjudge/Django_getZerojudge/getZerojudge/templates/create.html -->
{% extends "base.html" %}
{% load static %}
{% block body %}

<div style="display: flex;">
    <math>&int;_a_^b^{f(x)<over>1+x} dx</math>
    
    <div style="flex: 1;">
        <form method="post">
            {% csrf_token %}
            
            {{ form.as_p }}
            
            <button type="submit">Submit</button>
        </form>
    </div>
    <div style="flex: 1;">
        <embed src="{% static "latex/" %}/{{cid}}/main.pdf" width="100%" height="100%" type="application/pdf">
    </div>
</div>
{% endblock body %}