{% load static %}
{% if io_form.errors %}
    <div class="alert alert-danger">
        <strong>表單錯誤：</strong>
        <ul>
            {% for field, errors in io_form.errors.items %}
                {% for error in errors %}
                    <li>{{ field }}: {{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    </div>
{% endif %}
    <div class="row">
        <div class="col-md-6 dropdown" >
            <form method="post" class="card crate-form" style="margin:10px;padding:10px;" id="PDF-Data">
                <label>Zerojudge抓取：<input id="ZeroJudgeNumber" value="{{number}}" placeholder="輸入ZeruJudge題號" ></input><button class="btn-dark btn" onclick="GetZeroJudge({{cid}})">GET</button></label> 
                {% csrf_token %}
                {{ problem_form.as_p }}
                {{ formset.management_form }}

                <label>測試資料輸入</label>
                <div id="formset-container" style="padding:10px;">
                    {% for form in formset %}
                        <div class="formset-form" data-set= "{{forloop.counter0}}" >
                            <div class="row align-items-center">
                                <div class="io-number col-md-1"><label id="input-output-number">#{{ forloop.counter }}</label></div>
                                {% for field in form %}
                                <div class="form-group col-md-5" style="{%  if field.label != "輸入" and field.label != "輸出" %}display:none;{% endif%}">
                                    {%  if field.label == "輸入" or field.label == "輸出" %}
                                        <label id="{{ field.id_for_label }}">{{ field.label }}</label>
                                    {% endif%}
                                    {% if field.label == "Id" or field.label == "Problem" %}
                                        <input type="text" class="form-control" id="{{ field.id_for_label }}" name="{{ field.html_name }}" value="" readonly>
                                    {% else %}
                                        {{ field }}
                                    {% endif %}
                                </div>
                                {% endfor %}
                                <button type="button" class="btn btn-danger col-md-1" onclick="this.parentNode.parentNode.remove();InputOutputRemove();" >X</button>


                                <hr>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                            
                <button class="btn btn-primary"onclick="addFormset()">+</button> <!-- Add this line -->
                {% comment %} <div class="row justify-content-between"> {% endcomment %}
                    <input type="text"id="saveValue" name="saveValue" hidden ></input>
                    <button class="btn btn-success" type="submit" onclick="PreviewPDF(1)">儲存</button>
                {% comment %} </div> {% endcomment %}
                
            </form>
        </div>
        <div class="col-md-6 card fix-div-right" >
            <row>
                <button class="btn btn-success col-md-2 mx-3" onclick="PreviewPDF(0)">預覽</button>
                <button id = "downloadZIP" class="btn btn-success col-md-2 mx-3" onclick="DownloadZIP()">打包成Zip</button>
            </row>
                <div id="PDFdiv" style="height:100%;">
                {% include "create_form_PDF.html" %}
                </div>
        </div>
    </div>

<script>
    document.getElementById("id_inputoutput_set-INITIAL_FORMS").value = 0;
    var totalForms = document.getElementById("id_inputoutput_set-TOTAL_FORMS");
    function GetZeroJudge(cid) {
        const number = document.getElementById("ZeroJudgeNumber").value;
        event.preventDefault();
        $.ajax({
            url: "/getZerojudge/" + cid ,
            type: "POST",
            data: {
                "ZeroJudgeNumber":number,
                "csrfmiddlewaretoken": "{{ csrf_token }}"
            },
            success: function (data) {
                const createDiv = $("#CreateForm")
                createDiv.html(data)

            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(thrownError);
            }
        });
    }
    
    
    console.log(totalForms.value);
    const newFormCopy = $('#formset-container .formset-form:first').clone(); 
    function addFormset() {
        event.preventDefault();
        const newForm = newFormCopy.clone();
        // 找到表單集的總表單數量
        // 複製第一個空白表單
        // 修改input-output-number
        newForm.find('.io-number').html('#' + (parseInt(totalForms.value) + 1));
        // 替換克隆表單中的名稱，使其成為新的表單
        
        newForm.data('set', parseInt(totalForms.value));

        newForm.find(':input').each(function () {
            if ($(this).attr('name')) {
                const name = $(this).attr('name').replace('-0-', '-' + totalForms.value + '-');
                $(this).attr('name', name).attr('id', name);
                $(this).val('');  // 清空表單的值
            }
        });
        newForm.find('label').each(function () {
            if($(this).attr('id')){
                const newFor = $(this).attr('id').replace('-0-', '-' + totalForms.value + '-');
                $(this).attr('for', newFor);
            }
        });

        // 將新表單添加到容器中
        $('#formset-container').append(newForm);

        // 更新表單集的總表單數量
        totalForms.value = parseInt(totalForms.value) + 1;
        console.log(totalForms.value);
        ResetOrder();
    }

    {% comment %} function InputOutputRemove() {
        event.preventDefault();
        // hidden formset-formset
        const formsetForm = $(event.currentTarget).parents('.formset-form');
        const formid = formsetForm.find('#id_inputoutput_set-' + formsetForm.data('set') + '-id').val();
        if (formid) {
            formsetForm.find('#id_inputoutput_set-' + formsetForm.data('set') + '-DELETE').prop('checked', true);
            formsetForm.hide();
        } else {
            formsetForm.remove();
        }
        totalForms.value = parseInt(totalForms.value) -1;
        ResetOrder();
    } {% endcomment %}

    //重新排序數字編號
    function ResetOrder(){
        // input-output-number class=io-number
        const allNumber = $('.io-number');
        console.log(allNumber);
        let count = 1;
        for (let i = 0; i < allNumber.length; i++) {
            // if formset-form parent display is none
            if ($(allNumber[i]).parents('.formset-form').css('display') == 'none') {
                continue;
            }
            allNumber[i].innerHTML ='#'+ count;
            count++;
        }
    }
    function InputOutputRemove() {
        event.preventDefault();
        // 表單集的總表單數量
        totalForms.value = parseInt(totalForms.value) - 1;
        console.log(totalForms);

        // 重新編號
        const formset = document.getElementById("formset-container");
        const formset_form = formset.getElementsByClassName("formset-form");
        for (let i = 0; i < formset_form.length; i++) {
            const label = formset_form[i].getElementsByTagName("label");
            const input = formset_form[i].getElementsByTagName("input");
            const textarea = formset_form[i].getElementsByTagName("textarea");
            const select = formset_form[i].getElementsByTagName("select");
            const number = formset_form[i].getElementsByTagName("label")[0];
            for (let j = 0; j < label.length; j++) {
                const newFor = label[j].getAttribute("id").replace("-" + (i + 1) + "-", "-" + i + "-");
                label[j].setAttribute("for", newFor);
            }
            for (let j = 0; j < input.length; j++) {
                const newName = input[j].getAttribute("name").replace("-" + (i + 1) + "-", "-" + i + "-");
                input[j].setAttribute("name", newName);
                input[j].setAttribute("id", newName);
            }
            for (let j = 0; j < textarea.length; j++) {
                const newName = textarea[j].getAttribute("name").replace("-" + (i + 1) + "-", "-" + i + "-");
                textarea[j].setAttribute("name", newName);
                textarea[j].setAttribute("id", newName);
            }
            for (let j = 0; j < select.length; j++) {
                const newName = select[j].getAttribute("name").replace("-" + (i + 1) + "-", "-" + i + "-");
                select[j].setAttribute("name", newName);
                select[j].setAttribute("id", newName);
            }
        }   
        ResetOrder();
        }
    function PreviewPDF(saveValue){
        event.preventDefault();
        const saveValueInput = document.getElementById("saveValue");
        saveValueInput.value = saveValue;

        const formData = new FormData(document.getElementById("PDF-Data"));
        console.log(saveValueInput);
        $.ajax({
            type: "POST",
            data: formData,
            contentType: false,  // 設置為 false，因為 FormData 已經處理了數據的編碼和類型
            processData: false,  // 設置為 false，因為我們不想將數據轉換為字符串
            url:'/create/{{cid}}', //'/previewPDF/{{cid}}
            success: function (data) {
                const PDFdiv = $("#PDFdiv");
                PDFdiv.html(data);
                if(saveValue == 1){
                    alert("儲存成功");
                }
                else if(saveValue == 0){
                    alert("預覽成功");
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(thrownError);
            }
        });
    };

    function DownloadZIP(){
        event.preventDefault();
        $.ajax({
            type: "GET",
            url:'/create/{{cid}}/downloadZIP',
            xhrFields: {
                responseType: 'blob' // 设置响应类型为二进制流
            },
            success: function (data) {
            alert(data);
            var blob = new Blob([data], { type: 'application/zip' });

            // 创建 Blob 对象的 URL
            var blobUrl = window.URL.createObjectURL(blob);

            // 创建下载链接
            var downloadLink = document.createElement('a');
            downloadLink.href = blobUrl;
            downloadLink.download = 'test.zip';
            // 模拟用户点击下载链接
            document.body.appendChild(downloadLink);
            downloadLink.click();

            // 移除下载链接和 Blob URL
            document.body.removeChild(downloadLink);
            window.URL.revokeObjectURL(blobUrl);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status,thrownError);
            }
        });
    }
</script>

