<!-- FILEPATH: /d:/主任的domjudge/Django_getZerojudge/getZerojudge/templates/create.html -->
{% extends "base.html" %}
{% load static %}
{% block title %}題目列表{% endblock title %}
{% block content %}
{% comment %} <link rel="stylesheet" href="{% static "css/index.css" %}"> {% endcomment %}
{% endblock content %}

{% block body %}
<div class="container card">
    <table  class="table table-striped ">
        <thead>
            <tr>
                <th>Title</th>
                <th>Created_time</th>
            </tr>
        </thead>
        <tbody>
            {% for problem in problem_list %}
                <tr class="align-middle">
                    <td><a href="{% url 'create' problem.id %}">{{ problem.title }}</a></td>
                    <td>{{ problem.created_time }}</td>
                    <td><button class="btn btn-danger" onclick="deleteProblem({{problem.id}})">刪除</button></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    function deleteProblem(id){
        if(confirm("確定要刪除嗎?")){
            $.ajax({
                url: "{% url 'delete_problem' %}",
                type: "POST",
                data: {
                    'id': id,
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                },
                success: function (data) {
                    alert(data);
                    location.reload();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status,thrownError);
                }
                
            });
        }
            return false;
    }
</script>
{% endblock body %}