<!-- FILEPATH: /d:/主任的domjudge/Django_getZerojudge/getZerojudge/templates/create.html -->
{% extends "base.html" %}
{% load static %}
{% block title %}題目列表{% endblock title %}
{% block content %}
<!-- 引入 jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- 引入 DataTables CSS -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
<!-- 引入 DataTables JS -->
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<!-- 在表格上应用 DataTables -->
<link rel="stylesheet" href="{% static "css/index.css" %}">
{% endblock content %}

{% block body %}
<div class="container card p-3">
    <table class="table table-striped table-hover" id="myTable">
        <thead>
            <tr>
                <th>標題</th>
                <th>創建日期</th>
                <th>修改日期</th>
                <th class="w-25">操作</th>
            </tr>
        </thead>
        <tbody>
            {% for problem in problem_list %}
                <tr class="align-middle">
                    <td onclick="redirectToLink('{% url 'create' problem.id %}')" style="cursor:pointer;"><a href="{% url 'create' problem.id %}">{{ problem.title }}</a></td>
                    <td onclick="redirectToLink('{% url 'create' problem.id %}')" style="cursor:pointer;">{{ problem.created_time }}</td>
                    <td onclick="redirectToLink('{% url 'create' problem.id %}')" style="cursor:pointer;">{{ problem.edited_time }}</td>
                    <td>
                        <button class="btn btn-success mr-2" onclick="getPDF({{problem.id}})">預覽PDF</button>
                        <button class="btn btn-danger" onclick="deleteProblem({{problem.id}})">刪除</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div id="sidebar">
    <div id="dismiss">&gt;</div>
    <div id="PDFdiv" style="height:100%;">
    {% include "create_form_PDF.html" %}
    </div>
</div>
<script>
    let table = new DataTable('#myTable',{
        /*設定語言*/
        "language": {
            "url": "https://cdn.datatables.net/plug-ins/1.10.25/i18n/Chinese-traditional.json"
        },
        /*設定屬性(預設功能)區塊*/
        "sPaginationType": "full_numbers", // 分頁樣式 預設為"full_numbers"，若需其他樣式才需設定
        "pageLength":'50',// 預設為'10'，若需更改初始每頁顯示筆數，才需設定
        "destroy": true, // 預設為false 是否銷毀當前暫存資料
        "info": false, // 預設為true　是否要顯示"目前有 x  筆資料"
        "autoWidth": true, // 預設為true　設置是否要自動調整表格寬度(false代表不要自適應)　　　　
        "dom": 'lrtip',// 設置搜尋div、頁碼div...等基本位置/外觀..等，詳細可看官網
    });

    function deleteProblem(id){
        const url = "{% url 'delete_problem'  %}";
        if(confirm("確定要刪除嗎?")){
            $.ajax({
                url: url,
                type: "POST",
                data: {
                    'cid': id,
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                },
                success: function (data) {
                    location.reload();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    CallMessage(xhr.status,thrownError);
                }
                
            });
        }
            return false;
    }
    function getPDF(id){
        $.ajax({
            type: "GET",
            url:`/pdf/get/${id}`,
            data: {
                'cid': id,
            },
            success: function (data) {
                const PDFdiv = $("#PDFdiv");
                PDFdiv.html(data);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                CallMessage(xhr.status,thrownError);
            }
        });
            $('#sidebar').addClass('active');
        }

        $('#dismiss').click(function() {
            $('#sidebar').removeClass('active');
        });
    
    function redirectToLink(url) {
        window.location.href = url;
      }
</script>
{% endblock body %}